.collection {
    width: 100%;
    padding: 0;
    margin: 0;
}
.CARD {
    display: flex;
    /* flex-wrap: wrap; */
}
.cardss img {
    width: 100%;
}
.CARDSS {
    width: 30rem;
    height: 45rem;
    text-align: center;
    color: white;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-image: url(https://lh3.googleusercontent.com/kls-jkxCT6h-RHUnDkLY4rDxLyU9IIan0j1yVZ9Nx6DC4vJog9J6SwQ6CkAyojaMu9ymXiFrHS4EFYfGErWU4RFtmkBwH1RZfk5twcc30apXk3dMk6wmy5rkh-PRbDa8gr0ERg6D);
}
.CARDSS text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
}
