
.whoWeAre{
    padding: 80px 0px;
}
.Btn {
    width: 10rem;
    height: 3rem;
    padding: 0;
    margin: 5px;
    background-color: black;
    color: white;
    text-align: center;
}
.Btn:hover {
    background-color: rgb(61, 60, 60);
    color: rgb(243, 233, 233);
}

.WeAre{
    margin: auto;
    text-align: left;
}
.Image{
    text-align: end;
}
.Image img{
    width: 60%;
    height: 300px;
    overflow: hidden;
}